/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CCAttribution-ShareAlike 2.5 Brazil - http://creativecommons.org/licenses/by-sa/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #F5F3E2;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 33%;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-wrapper {
  position: relative;
  margin: 0 auto;
  width: 600px;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: transparent;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
	position: absolute;
	z-index: 100;
	overflow: hidden;
	height: 76px;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666;
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 170px;
	height: 26px;
	position: absolute;
	text-align: left;
	font-family: Georgia, Times, Times New Roman, Serif;
	text-shadow: 0 1px #333;
	letter-spacing: 1px;
	color: #fff;
	font-size: 18px;
	font-weight: normal !important;
	padding: 14px 15px 16px 15px;
	left: -3px;
	top: 20px;
	z-index: 1000;
	text-transform: capitalize;
}	
#lightbox-image-details-currentNumber {
	display: none !important;
}			
#lightbox-secNav-btnClose {
	width: 28px;
	height: 30px; 
	float: right;
	position: absolute;
	right: 4px;
	top: 4px;
}
#lightbox-secNav {
  width: 580px;
}
