html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  font: 12px Helvetica, Garuda, sans-serif;
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header, section, footer,
aside, nav, article, figure {
  display: block;
}

a {text-decoration: none;cursor:pointer;}

div.clearfix {clear: both;}

/* CSS reset ends here */

body {
  overflow: hidden;
}

div#wrapper {
  width: 100%;
  height: 100%;
  font-family: Helvetica Neue, Arial, Verdana, Sans-serif;
}

h1 {
  color: #420505;
  font-size: 26px;
  font-weight: bold;
  font-family: Helvetica Neue, Arial, Verdana, Sans-serif;
  margin-bottom: 10px;
}

h2 {
  color: #420505;
  font-size: 21px;
  font-weight: bold;
  font-family: Helvetica Neue, Arial, Verdana, Sans-serif;
  margin-bottom: 10px;
}

header {
  position: fixed;
  z-index: 10;
}

a#logo_link {
  display: block;
}

section {
  width: 100%;
  padding: 0;
  position: relative;
}

section.products {
  background: url(../images/bg-products.png) repeat-x fixed;
}

section.contact {
  background: #F4F2E1;
}

div.content_wrapper {
  padding: 30px 15px;
  z-index: 2;
}

div.content_wrapper.about,
div.content_wrapper.career {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px 0 #555;
  -moz-box-shadow: 0 1px 5px 0 #555;
  box-shadow: 0 1px 5px 0 #555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

div.content_nav {
  padding: 15px 20px 12px 20px;
}

div.content {
  font-family: Georgia, Times, Times New Roman, Serif;
  font-size: 13px;
  line-height: 1.6em;
  color: #444;
  z-index: 2;
}

div.content_wrapper.about,
div.content_wrapper.career {
  opacity: 0.9;
}

div.content_wrapper.about:hover,
div.content_wrapper.career:hover {
  opacity: 1;
}

div.content_wrapper.about:hover,
div.content_wrapper.career:hover,
div.content_wrapper.about,
div.content_wrapper.career,
div.product_nav a.shoonfatt:hover,
div.product_nav a.loobis:hover {
  transition: all 0.20s ease-in-out;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
}

div.content p {
  padding-bottom: 1em;
}

div.vacancy_table {
  width: 685px;
  padding-bottom: 150px;
  display: block;
  float: left;
}

div.vacancy_row {
  clear: both;
  width: 585px;
  margin-bottom: 10px;
  float: left;
  padding: 10px 0 20px 0;
}

div.job_column,
div.requirements_column {
  float: left;
}

div.job_column {
  width: 180px;
  margin-right: 30px;
}

div.requirements_column {
  width: 325px;
  padding-left: 40px;
  padding-bottom: 20px;
  border-left: 1px solid #f0f0f0;
}

div.vacancy_row ol {
  float: left;
  clear: both;
}

div.vacancy_row ol li {
  list-style: decimal;
}

img.title {
  margin-bottom: 8px;
}

div.banner {
  width: 530px;
  height: 320px;
  padding: 6px;
  margin-top: 15px;
  background-color: #F4F2E1;
  -webkit-box-shadow: 0 1px 2px 1px #999;
  -moz-box-shadow: 0 1px 1px 2px #999;
  box-shadow: 0 1px 2px 1px #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

div.banner a {
  width: 530px;
  height: 320px;
  display: block;
  position: absolute;
}

div.banner img {
  position: absolute;
}

div.about_separator {
  clear: both;
  padding-bottom: 280px;
}

a.product_category {
  width: 200px;
  height: 200px;
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  border: 1px solid #f0f0f0;
  -webkit-box-shadow: 0 1px 1px 0 #999;
  -moz-box-shadow: 0 1px 1px 0 #999;
  box-shadow: 0 1px 1px 0 #999;
  position: relative;
}

a.product_category,
a.product_category img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

a.product_category span {
  position: absolute;
  width: 182px;
  opacity: 0.9;
  background-color: #B50010;
  left: -1px;
  top: 0;
  color: #fff;
  font-size: 18px;
  font-family: Georgia, Times, Times New Roman, Serif;
  padding: 10px;
  font-weight: 300;
  display: none;
}

a.product_category:hover span {
  display: block;
}


/********************************* product page *************************************/

div.product_nav {
  position: relative;
  height: 29px;
}

div.product_nav a.shoonfatt,
div.product_nav a.loobis {
  position: absolute;
  width: 80px;
  text-align: center;
  padding: 8px 15px;
  font-size: 13px;
  margin: 0;
  color: #fff;
  font-weight: bold;
  background-color: #CBC9B9;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  display: block;
  z-index: 1;
}

div.product_nav a.shoonfatt:hover,
div.product_nav a.loobis:hover {
  background-color: #B2B0A4;
}

div.product_nav a.shoonfatt.current,
div.product_nav a.loobis.current {
  color: #420505;
  background-color: #F4F2E1;
  z-index: 2;
  text-shadow: 0 1px #fff;
}

div.product_nav a.loobis {
  left: 100px;
}

a.catalog_link {
  position: absolute;
  padding: 9px 15px 7px;
  font-size: 13px;
  color: #4BB9D2;
  display: block;
  left: 210px;
}

a.catalog_link:hover {
  text-decoration: underline;
}

div.products_wrapper {
  background-color: #F4F2E1;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom: 1px solid #E0DDCA;
  border-right: 1px solid #E0DDCA;
  z-index: 100;
  position: absolute;
}

div.previous_product,
div.next_product {
  width: 67px;
  height: 37px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

div.next_product {
  background: url(../images/next.png) no-repeat;
  right: -25px;
}

div.previous_product {
  background: url(../images/prev.png) no-repeat;
  left: -25px;
}

div.category_wrapper,
div.group_products {
  padding: 18px 0 0 16px;
  position: absolute;
}

div.group_products {
  display: none;
}

a.category,
a.product_item {
  display: block;
  float: left;
  margin: 0 15px 15px 0;
  border: 1px solid #f0f0f0;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  position: relative;
}

a.category:hover,
a.product_item:hover {
  border: 1px solid #A0E7F2;
}

a.category img,
a.category,
a.product_item,
a.product_item img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

a.category span.ribbon,
a.product_item span.ribbon {
  position: absolute;
  top: 8px;
  left: -11px;
  width: 160px;
  height: 42px;
  background: url(../images/ribbon.png) no-repeat;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  font-family: Helvetica Neue, Helvetica, Arial, Sans-serif;
  padding-top: 8px;
  padding-left: 11px;
  text-shadow: 0 -1px #A8002D;
  display: none;
}

a.category:hover span.ribbon,
a.product_item:hover span.ribbon {
  display: block;
}

div.category_nav {
  position: relative;
  top: 405px;
}

div.category_nav a {
  font-size: 13px;
  color: #A7C7CF;
  margin-right: 20px;
}

div.category_nav a:hover {
  text-decoration: underline;
}

footer {
  position: fixed;
  font-size: 12px;
  color: #ccc;
  line-height: 1.5em;
  z-index: 1;
}

footer a,
a.email {
  color: #4BB9D2;
}

footer a:hover,
a.email:hover {
  text-decoration: underline;
}

div.certification img {
  margin-right: 10px;
}

