header {
  width: 880px;
  top: 10px;
  left: 10px;
}

a#logo_link,
nav {
  float: left;
}

a#logo_link {
  width: 173px;
  height: 60px;
}

a#logo_link img {
  height: 60px;
}

nav {
  width: 540px;
  height: 44px;
  margin-top: 9px;
  margin-left: 26px;
  background: url(../images/narrow-nav-body.png) repeat-x;
  position: relative;
}

nav:before,
nav:after {
  content: "";
  width: 6px;
  height: 44px;
  display: block;
  position: absolute;
}

nav:before {
  left: -6px;
  background: url(../images/narrow-nav-left.png) no-repeat;
}

nav:after {
  right: -6px;
  background: url(../images/narrow-nav-right.png) no-repeat;
}

nav ul li a {
  color: #F5F3E2;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 14px 15px;
  display: block;
  text-shadow: 0 1px #000;
  float: left;
  transition: all 0.20s ease-in-out;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
}

nav ul li a:hover,
nav ul li a.current {
  color: #FCF900;
  transition: all 0.20s ease-in-out;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
}

div.social_media {
  width: 160px;
  position: fixed;
  top: 20px;
  left: 630px;
}

img.facebook_link {
  margin: 8px 3px;
}

div.social_media a,
div.fb_like {
  float: left;
  display: block;
}

div.fb_like {
  margin-top: 10px;
}

section.home {
  background: url(../images/bg-home-narrow.jpg) no-repeat fixed;
}

div.tower {
  display: none;
}


section {
  height: 1000px;
}

section.about {
  background: url(../images/bg-about-narrow.jpg) no-repeat fixed;
}

section.career {
  background: url(../images/bg-career-narrow.jpg) no-repeat fixed;
}

div.content_wrapper {
  position: relative;
  width: 515px;
  height: 320px;
  margin-left: 193px;
}

div.content_wrapper.home,
div.content_wrapper.products,
div.content_wrapper.contact {
  top: 60px;
}

div.content_wrapper.about,
div.content_wrapper.career {
  top: 85px;
  left: 13px;
}

div.content {
  padding: 0 12px;
  height: 320px;
}

div.jScrollPaneContainer {
  width: 600px;
}

div.content.contact {
  padding-left: 0;
  height: 520px;
}

div.requirements_column {
  width: 210px;
}


div.content_wrapper.products,
div.products_wrapper {
  width: 545px;
  height: 320px;
}

div.previous_product,
div.next_product {
  top: 165px;
}

div.category_wrapper,
div.group_products {
  padding: 18px 0 0 28px;
}

a.category img,
a.category,
a.product_item,
a.product_item img {
  width: 152px;
  height: 133px;
}

div.category_nav {
  top: 335px;
}


footer {
  width: 687px;
  bottom: 15px;
  left: 10px;
  padding-left: 193px;
}

footer div.copyright,
footer div.certification  {
  float: left;
  width: 160px;
  height: 38px;
}

footer div.copyright {
  margin-top: 3px;
}
