header {
  top: 30px;
  left: 30px;
}

a#logo_link {
  display: block;
  width: 284px;
  height: 98px;
}

nav {
  width: 177px;
  height: 170px;
  padding: 20px 0 0 3px;
  background: url(../images/bg-nav.png) no-repeat;
  margin-left: 78px;
}

nav ul li a {
  color: #F5F3E2;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 6px 30px;
  display: block;
  width: 110px;
  text-shadow: 0 1px #000;
}

nav ul li a.current,
nav ul li a:hover {
  background: url(../images/bg-current.png) no-repeat transparent;
}

div.social_media {
  width: 180px;
  margin-left: 78px;
}

img.facebook_link {
  margin: 8px 3px;
}

div.social_media a,
div.fb_like {
  float: left;
  display: block;
}

div.fb_like {
  margin-top: 10px;
}

section {
  height: 1400px;
}

section.home {
  background: url(../images/bg-home.jpg) no-repeat fixed;
}

div.tower {
  background: url(../images/tower.png) 800px 0 no-repeat fixed;
  min-height: 1400px;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 2000px;
  position: absolute;
}


section.about {
  background: url(../images/bg-about.jpg) no-repeat fixed;
}

section.career {
  background: url(../images/bg-career.jpg) no-repeat fixed;
}

div.content_wrapper {
  position: relative;
  left: 350px;
  width: 640px;
  height: 400px;
}

div.content_wrapper.home {
  top: 95px;
}

div.content_wrapper.about {
  top: 130px;
}

div.content_wrapper.products {
  top: 100px;
}

div.content_wrapper.career {
  top: 130px;
}

div.content_wrapper.contact {
  top: 95px;
}

div.content {
  padding: 0 20px;
  height: 400px;
}


div.products_wrapper {
  width: 640px;
  height: 390px;
}

div.previous_product,
div.next_product {
  top: 200px;
}

div.category_nav {
  top: 405px;
}

a.category img,
a.category,
a.product_item,
a.product_item img {
  width: 190px;
  height: 168px;
}


footer {
  width: 200px;
  bottom: 30px;
  left: 115px;
}

